body{
  margin: 0%;
  padding: 0%;
}
section{
  background-color: rgb(20, 77, 164);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  color: white;
}
.card{
  width: 300px;
  height: 150px;
  line-height: 0px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: rgb(109, 216, 179);
  border-radius: 5px;
}
.grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
span{
  font-size: 7px;
  font-weight: 600;
  font-family: sans-serif;
}
p{
  font-size: 18px;
  font-weight: bold;
}
h1{
  text-shadow: 2px 2px 4px #e51010;
  font-size: 30px;
}
h2{
  text-transform: uppercase;
  margin-top: -10px;
}
.card:hover{
  transform: scale(1.1);
  transition: 0.5s;
}